body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

#header {
    width: 100%;
    background-color: #e0f7e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#header-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.home-icon {
    font-size: 24px;
    color: #007bff;
    cursor: pointer;
    margin-right: 20px;
}

.search-container {
    width: 100%;
    padding: 20px 5px;
    display: flex;
    justify-content: center;
}

.search-container input {
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 10px);
    border: 1px solid #ccc;
    border-radius: 5px;
}

#grid-container {
    width: calc(100% - 2px);
    margin-left: 1px;
}

#grid {
    width: 100%;
    max-width: 1200px;
}

.k-pager-wrap .k-pager-refresh {
    display: inline-flex;
    align-items: center;
}

.k-pager-wrap .k-pager-refresh .k-link {
    padding: 0;
}
