body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    width: 100%;
    background-color: #e0f7e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    flex: 1;
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.back-icon {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #007bff;
    cursor: pointer;
    margin-right: 20px;
}

.back-icon i {
    margin-right: 8px;
    font-size: 20px;
}

#details-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#details-form {
    max-width: 640px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

/* Styling for multiline-group */
.form-group.multiline-group textarea {
    height: 150px; /* Höhe für 6 Zeilen */
    width: 100%;
    max-width: 640px;
    resize: none;
    background-color: #f9f9f9;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#save-button {
    background-color: #2d89ef;
    border-color: #2d89ef;
    color: white;
}

#cancel-button {
    background-color: #f44336;
    border-color: #f44336;
    color: white;
}
.k-combobox,
.k-dropdown {
    width: 80% !important;  /* 80% des Containers */
    max-width: 100%;
}
